<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <title>Home Page</title>

    </style>
</head>
<body>
    <div class="center">
        <a href="/ricerca"><button class="button">Cerca Immagini Simili</button></a>
        <a href="/alimenta"><button class="button">Alimentazione Database</button></a>
    </div>

</body>
</html>
